body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3c268b;
}


.logo img {
 max-width: 100px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

footer {
    background-color: #E6E6FA;
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
}